@charset "UTF-8";

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0 var(--indentation);
    border-radius: var(--radius);
    height: clamp(4rem, 4.5vw, 5rem);
}

.button.button-blue {
    background-color: var(--black);
}

.button.no-border {
    border: 0;
}

.button.text > span {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 700;
    color: var(--white);
}
