@charset "UTF-8";

html {
    font-size: 8px;
    --font-family: "Gotham Pro", sans-serif;
    --font-size: clamp(1.75rem, 1.875vw, 2rem);
    --black: #4f4f4f;
    --blue: #029EE2;
    --white: #FFFFFF;
    --fuchsia: #E2077B;
    --radius: 8px;
    --indentation: clamp(2rem, 3vw, 4rem);
    --rytm: clamp(2rem, 3vw, 4rem);
    --height: clamp(7rem, 9vw, 11rem);
    --logo-text: url("data:image/svg+xml,%3Csvg%20width%3D%22185.903519%22%20height%3D%22143.315430%22%20viewBox%3D%220%200%20185.904%20143.315%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%09%3Cpath%20d%3D%22M35.77%2039.82L40.38%2043.97L46.25%2037.44L41.95%2033.77Q43.64%2031.31%2044.57%2028.58Q45.67%2025.33%2045.67%2021.7Q45.67%2016.85%2043.87%2012.8Q42.29%209.24%2039.33%206.29Q36.94%203.92%2034.08%202.44Q29.38%200%2023.4%200Q17.55%200%2012.89%202.35Q9.9%203.85%207.41%206.32Q4.29%209.41%202.69%2013.15Q1.02%2017.07%201.02%2021.7Q1.02%2026.61%202.85%2030.69Q4.42%2034.21%207.35%2037.13Q9.72%2039.49%2012.55%2040.97Q17.28%2043.43%2023.29%2043.43Q27.55%2043.43%2031.31%2042.05Q33.63%2041.2%2035.77%2039.82ZM117.34%2041.28Q121.68%2043.43%20127.09%2043.43Q132.9%2043.43%20136.89%2041.7Q140.89%2039.96%20144.3%2036.29L138.43%2030Q135.66%2032.51%20133.2%2033.72Q130.74%2034.92%20127.38%2034.92Q124.58%2034.92%20122.29%2033.83Q120.27%2032.88%20118.65%2031.08Q117.38%2029.65%20116.58%2028Q115.21%2025.18%20115.21%2021.7Q115.21%2018.02%20116.71%2015.11Q117.48%2013.61%20118.65%2012.31Q120.25%2010.55%20122.23%209.61Q124.54%208.51%20127.38%208.51Q130.74%208.51%20133.11%209.62Q135.48%2010.73%20138.18%2013.19L143.7%206.84Q140.35%203.53%20136.62%201.77Q132.9%200%20127.44%200Q121.45%200%20116.78%202.48Q114.02%203.95%20111.72%206.29Q108.98%209.09%20107.45%2012.45Q105.54%2016.64%20105.54%2021.7Q105.54%2027.01%20107.59%2031.34Q109.09%2034.51%20111.69%2037.16Q114.25%2039.76%20117.34%2041.28ZM55.24%2039.7Q59.86%2043.37%2067.4%2043.37Q74.97%2043.37%2079.66%2039.7Q80.33%2039.17%2080.94%2038.58Q81.16%2038.36%2081.37%2038.13Q85.83%2033.35%2085.83%2024.41L85.83%200.71L76.58%200.71L76.58%2024.77Q76.58%2029.69%2074.21%2032.27Q73.75%2032.77%2073.22%2033.17Q71%2034.84%2067.52%2034.84Q64.18%2034.84%2062.01%2033.25Q61.36%2032.79%2060.82%2032.18Q58.46%2029.51%2058.46%2024.47L58.46%200.71L49.22%200.71L49.22%2024.71Q49.22%2033.36%2053.53%2038.1Q53.76%2038.36%2054.01%2038.61Q54.6%2039.19%2055.24%2039.7ZM91.67%200.71L91.67%2042.71L100.91%2042.71L100.91%200.71L91.67%200.71ZM147.68%200.71L147.68%2042.71L156.92%2042.71L156.92%2029.86L161.79%2024.82L174.8%2042.71L185.9%2042.71L168.03%2018.53L185.12%200.71L173.96%200.71L156.92%2019.07L156.92%200.71L147.68%200.71ZM27.61%2034.28Q25.61%2034.92%2023.4%2034.92Q20.22%2034.92%2017.68%2033.65Q15.81%2032.71%2014.28%2031.08Q12.8%2029.49%2011.93%2027.63Q10.69%2024.95%2010.69%2021.7Q10.69%2018.17%2012.11%2015.34Q12.93%2013.71%2014.22%2012.31Q15.66%2010.76%2017.43%209.85Q20.01%208.51%2023.29%208.51Q26.46%208.51%2028.99%209.78Q30.87%2010.72%2032.4%2012.36Q33.9%2013.96%2034.78%2015.85Q36%2018.49%2036%2021.7Q36%2025.07%2034.86%2027.59L27.96%2021.35L22.08%2027.94L28.93%2033.77Q28.28%2034.06%2027.61%2034.28ZM7.34%2091.29Q12.15%2093.31%2017.82%2093.31Q24.67%2093.31%2028.87%2089.98Q28.94%2089.92%2029.01%2089.87Q30.49%2088.67%2031.45%2087.14Q33.25%2084.28%2033.25%2080.29Q33.25%2076.17%2031.27%2073.56Q30.71%2072.82%2030%2072.2Q26.76%2069.37%2019.92%2067.57Q14.34%2066.12%2012.59%2065.11Q11.75%2064.61%2011.32%2063.87Q10.86%2063.1%2010.86%2062.05Q10.86%2061.29%2011.15%2060.65Q11.5%2059.89%2012.27%2059.33Q13.68%2058.27%2016.25%2058.27Q21.24%2058.27%2027.18%2062.42L31.99%2055.44Q29.35%2053.33%2026.35%2052.06Q21.78%2050.11%2016.39%2050.11Q10.77%2050.11%206.93%2052.73Q6.33%2053.13%205.78%2053.6Q4.07%2055.05%203.07%2056.89Q1.68%2059.45%201.68%2062.77Q1.68%2065.83%202.6%2068.03Q2.94%2068.8%203.4%2069.48Q4.25%2070.72%205.55%2071.66Q7.57%2073.1%209.78%2073.96Q12.01%2074.82%2015.6%2075.73Q20.71%2077.05%2022.38%2078.16Q23.42%2078.84%2023.82%2079.8Q24.06%2080.38%2024.06%2081.06Q24.06%2081.98%2023.69%2082.71Q23.28%2083.5%2022.44%2084.07Q20.83%2085.15%2018%2085.15Q17.72%2085.15%2017.45%2085.14Q11.38%2084.93%205.46%2080.05L0%2086.59Q3.38%2089.62%207.34%2091.29ZM80.26%2050.41L62.26%2092.71L71.68%2092.71L75.53%2083.29L93.28%2083.29L97.12%2092.71L106.79%2092.71L88.79%2050.41L80.26%2050.41ZM46.17%2059.22L46.17%2092.71L55.39%2092.71L55.39%2059.22L68.18%2059.22L68.18%2050.71L33.38%2050.71L33.38%2059.22L46.17%2059.22ZM109.26%2050.71L109.26%2092.71L118.5%2092.71L118.5%2079.26L125.64%2079.26L134.76%2092.71L145.56%2092.71L135.31%2077.71Q139.75%2076.05%20142%2072.85Q144.3%2069.57%20144.3%2064.69Q144.3%2059.79%20142%2056.52Q141.42%2055.69%20140.7%2054.98Q140.39%2054.67%20140.07%2054.39Q135.88%2050.71%20128.47%2050.71L109.26%2050.71ZM158.43%2059.22L158.43%2092.71L167.65%2092.71L167.65%2059.22L180.44%2059.22L180.44%2050.71L145.64%2050.71L145.64%2059.22L158.43%2059.22ZM127.86%2071.1L118.5%2071.1L118.5%2059.05L127.69%2059.05Q131.1%2059.05%20133.02%2060.59Q133.53%2060.99%20133.91%2061.5Q134.94%2062.89%20134.94%2065.05Q134.94%2066.84%20134.16%2068.16Q133.73%2068.88%20133.08%2069.46Q131.22%2071.1%20127.86%2071.1ZM84.41%2061.51L89.99%2075.13L78.82%2075.13L84.41%2061.51ZM7.34%20141.28Q12.15%20143.31%2017.82%20143.31Q24.67%20143.31%2028.87%20139.98Q28.94%20139.92%2029.01%20139.87Q30.49%20138.67%2031.45%20137.14Q33.25%20134.28%2033.25%20130.29Q33.25%20126.17%2031.27%20123.56Q30.71%20122.82%2030%20122.2Q26.76%20119.38%2019.92%20117.57Q14.34%20116.12%2012.59%20115.11Q11.75%20114.61%2011.32%20113.88Q10.86%20113.1%2010.86%20112.05Q10.86%20111.29%2011.15%20110.66Q11.5%20109.89%2012.27%20109.33Q13.68%20108.27%2016.25%20108.27Q21.24%20108.27%2027.18%20112.42L31.99%20105.44Q29.35%20103.33%2026.35%20102.06Q21.78%20100.11%2016.39%20100.11Q10.77%20100.11%206.93%20102.73Q6.33%20103.13%205.78%20103.6Q4.07%20105.05%203.07%20106.89Q1.68%20109.45%201.68%20112.77Q1.68%20115.83%202.6%20118.03Q2.94%20118.8%203.4%20119.48Q4.25%20120.72%205.55%20121.66Q7.57%20123.1%209.78%20123.96Q12.01%20124.82%2015.6%20125.73Q20.71%20127.05%2022.38%20128.16Q23.42%20128.85%2023.82%20129.8Q24.06%20130.38%2024.06%20131.06Q24.06%20131.99%2023.69%20132.71Q23.28%20133.5%2022.44%20134.07Q20.83%20135.15%2018%20135.15Q17.72%20135.15%2017.45%20135.14Q11.38%20134.93%205.46%20130.05L0%20136.59Q3.38%20139.62%207.34%20141.28ZM37.71%20100.71L37.71%20142.71L46.95%20142.71L46.95%20100.71L37.71%20100.71ZM63.23%20109.22L63.23%20142.71L72.45%20142.71L72.45%20109.22L85.24%20109.22L85.24%20100.71L50.44%20100.71L50.44%20109.22L63.23%20109.22ZM88.32%20100.71L88.32%20142.71L120.3%20142.71L120.3%20134.49L97.51%20134.49L97.51%20125.67L117.3%20125.67L117.3%20117.46L97.51%20117.46L97.51%20108.93L120.01%20108.93L120.01%20100.71L88.32%20100.71Z%22%20fill%3D%22%23000000%22%20fill-opacity%3D%221.000000%22%2F%3E%0A%3C%2Fsvg%3E");
}

body {
    font-family: "Gotham Pro", sans-serif;
    /*background-color: #F3F4F8;*/
    font-size: clamp(1.75rem, 1.875vw, 2rem);
    background-color: #FFF;
    color: #4f4f4f;
}

.wrapper {
    height: calc(var(--vh, 1vh)* 100);
    overflow: hidden;
}

.wrapper > .workspace {
    height: 100%;
    overflow-x: hidden;
    padding: 0 0 clamp(1rem, 2vw, 3rem) 0;
}

.wrapper,
.wrapper > .workspace {
    width: 100%;
    position: relative;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 var(--rytm) 0 var(--rytm);
}

article > .twoblocks {
    display: flex;
    margin-top: var(--rytm);
    margin-bottom: var(--rytm);
    gap: var(--rytm);
}

article > .twoblocks > .main_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article > .twoblocks > .main_text > span {
    font-size: clamp(3.5rem, 5vw, 6.5rem);
    font-weight: 700;
    margin-bottom: calc(clamp(2rem, 3vw, 4rem)/2);
}

article > .twoblocks > .main_text > blockquote {
    font-size: clamp(2rem, 2.75vw, 3.5rem);
    font-weight: 300;
    margin-top: calc(var(--rytm) / 2);
}

article > .twoblocks > .main_img {
    background-image: url(../image/fon.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    border-radius: var(--radius);
    aspect-ratio: 1/1;
}

.features {
    margin-top: var(--rytm);
}

.features > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(2rem, 3vw, 4rem);
    justify-content: space-between;
}

.features > ul > li > span:first-child {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
     width: 3.5rem;
    height: 3.5rem;
    display: block;
    margin-bottom: calc(var(--rytm) / 2);
}

.features > ul > li > span:last-child {
    font-size: clamp(2rem, 2.5vw, 3rem);
}

@media (min-width: 721px) {
    article > .twoblocks > div {
        width: 50%;
    }

    .features > ul > li {
        width: calc(100%/4 - clamp(2rem, 3vw, 4rem));
    }
}

@media (max-width: 720px) {
    article > .twoblocks {
        flex-direction: column;
    }

    article > .twoblocks > div {
        width: 100%;
        margin-top: var(--rytm);
    }
    
    .features > ul > li {
        width: 100%;
    }
}
